@import url('https://fonts.googleapis.com/css2?family=Vollkorn:wght@400;700&display=swap');

:root {
    --slide-speed: 18s;
    --radius: 14px;
}

* {
    box-sizing: border-box;
}

html,
body {
    margin: 0;
    padding: 0;
    width: 100%;
}

/* BODY LIMPO (sem centralizar tudo) */
body {
    background: radial-gradient(circle at 10% 10%, #071028 0, #0b1220 40%, #071026 100%);
    color: #fff;
    font-family: Inter, system-ui, Arial;
    overflow-x: hidden;
}

/* HERO */
.inicio {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    z-index: 1;

}

.inicio img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

/* MENU SOBRE A IMAGEM */
.menu {
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to bottom,
            #0b1220,
            #071026de,
            #071028a0,
            #07102600);
}


.menu-item {
    position: absolute;
    top: 30px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 35px;
    background-color: rgba(255, 255, 255, 0.362);
    padding: 12px 30px;
    border-radius: 40px;
    z-index: 10;
}


.menu-item a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
}

.menu-item a p {
    margin: 0px;
    padding: 0px;
}

.hover-underline-animation {
    display: inline-block;
    position: relative;
}

.hover-underline-animation::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #fff;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

.hover-underline-animation:hover::after {
    transform: scaleX(1);
}

.hover-underline-animation.center::after {
    transform-origin: bottom center;
}

.hover-underline-animation.center:hover::after {
    transform-origin: bottom center;
}

.scroll-type {
    position: absolute;
    width: 100%;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 350px;
    font-weight: bold;
    z-index: 5;
    text-align: center;
    overflow: hidden;
}

/* cada letra */
.scroll-type span {
    display: inline-block;
    opacity: 0;
    transform: translateY(40px);
}

/* quando ativa */
.scroll-type.active span {
    animation: letterUp 0.5s ease forwards;
}

@keyframes letterUp {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.scroll-img {
    position: absolute;
    top: 20%;
    /* fica acima do texto */
    left: 50%;
    transform: translateX(-50%);
    width: 570px;
    height: 700px;
    overflow: hidden;
    z-index: 6;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* bloco único da imagem */
.scroll-img span {
    width: 100%;
    height: 100%;
    display: block;

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    opacity: 0;
    transform: translateY(40px);
}

/* animação igual ao texto */
.scroll-img.active span {
    animation: imgUp 0.6s ease forwards;
}

@keyframes imgUp {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}


/* CONTEÚDO */
.container {
    width: 100%;
    padding: 40px 0;
}

/* REVEAL */
.spacer {
    height: 100vh;
}

.scroll-text {
    opacity: 0;
    transform: translateY(60px);
    transition: all 0.8s ease;
}

/* Quando aparece */
.scroll-text.active {
    opacity: 1;
    transform: translateY(0);
}

h1 {
    text-align: center;
    font-size: 35px;
}

/* CARROSSEL */
.carousel {
    overflow: hidden;
    padding: 20px 0;
}

.viewport {
    overflow: hidden;
}

.track,
.track2 {
    display: flex;
    gap: 1rem;
    animation: scroll var(--slide-speed) linear infinite;
}

.track2 {
    animation-direction: reverse;
}

@keyframes scroll {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(-50%);
    }
}

.slide {
    flex: 0 0 200px;
    height: 200px;
    border-radius: var(--radius);
    position: relative;
    overflow: hidden;
}

.slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* RESPONSIVO */
/*
@media (max-width: 2560px) {
    .scroll-type {
        top: 22%;
        font-size: 600px;
    }
    .scroll-img {
        position: absolute;
        top: 40%;
        left: 50%;
        transform: translateX(-50%);
        width: 970px;
        height: 1100px;
        overflow: hidden;
        z-index: 6;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .menu-item a {
        font-size: 40px;
    }
}*/

@media (max-width: 1441px) {
    .scroll-img {
        position: absolute;
        top: 20%;
        left: 50%;
        transform: translateX(-50%);
        width: 770px;
        height: 900px;
        overflow: hidden;
        z-index: 6;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .menu-item a {
        font-size: 22px;
    }

}

@media (max-width: 1025px) {
    .scroll-type {
        top: 22%;
        font-size: 260px;
    }
}

@media (max-width: 769px) {
    .scroll-type {
        top: 22%;
        font-size: 200px;
    }

    .menu {
        right: 20px;
        gap: 15px;
    }

    .menu a {
        font-size: 14px;
    }
}

@media (max-width: 600px) {
    .scroll-type {
        top: 22%;
        font-size: 120px;
    }

    .scroll-img {
        position: absolute;
        top: 30%;
        left: 50%;
        transform: translateX(-50%);
        width: 470px;
        height: 600px;
        overflow: hidden;
        z-index: 6;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .container {
        padding: 20px 0;
    }

    h1 {
        font-size: 28px;
    }

    .slide {
        flex: 0 0 120px;
        height: 120px;
    }

    .menu a {
        font-size: 14px;
    }
}

@media (max-width: 376px){
    .scroll-type {
        font-size: 100px;
    }

    .menu a {
        font-size: 14px;
    }
}
